.box{
    display: flex;
    border: 1px dashed red;

    height: 150px;
    width: 300px;
}

.box div{
    border: 1px solid black;
}

/*Caso queira ocupar todo espaço vazio*/

.box div:nth-child(2),
.box div:nth-child(3){
    flex-grow: 1;
}


