.box{
    display: flex;
    border: 1px dashed red;

    
    width: 200px;
    height: 50px;
}

.box div{

    border: 1px solid black;
    flex-basis: 100%;
}

.box div:nth-child(2),
.box div:nth-child(3){
    flex-shrink: 2;
}

