div{
    display: flex;
    text-align: center;
    gap: 1rem;
}

div > aside{
    border: 1px solid black;
    width: 25vw;
    height: 95vh;

}

div > main{
    border: 1px solid black;
    width: 75vw;
    height: 95vh;
}
