main{
    display: flex;
    flex-wrap: wrap;

}

main > div{
    width: 100vw;
    height: 78vh;
    border: 1px solid black;
}

main > footer{
    display: flex;
    width: 100vw;
    height: 8rem;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    border-top: 0px;
    border: 1px solid black;


}
